*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.navbar{
height: 75px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 5px;padding-right: 0;
background-color: black;
color: white;
font-size: 3.3ch;
}
.menu{
    width: 700px;
}
.menu ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu ul li{
    list-style: none;
    cursor: pointer;
    color: aqua;
}
.logo img{
    height: 80px;width: 200px;background-color: black;padding-top: 7px;
}
.menu ul li:hover{
    text-decoration: underline solid rgb(151, 150, 150);opacity: 0.5;
}
.a{
    width: 200px;
    display: flex;justify-content: space-between;align-items: center;
}